*{
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

body{

    /*color:rgb(42,87,154);*/
    color: rgb(20,20,20);
    margin:0px;
    padding:5px;
    background-color:white;
    /*overflow:hidden; */
  
}

#debug{
    position:absolute;
    bottom:0px;
    right:0px;
    height:80%;
    width:80%;
    background-color:blue;
    opacity:0.5;
    font-size:small;
    
}