<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />

    <script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js" type="text/javascript"></script>
    <script src="../static/scripts/office.runtime.js" type="text/javascript"></script>
    <script src="../static/scripts/word.js" type="text/javascript"></script>
    
    <link href="../static/content/docdash.css" rel="stylesheet" type="text/css" />

    <title>Doc Dashboard</title>
</head>
<body>
    Test text for Doc Dashboard
</body>
</html>